bin/
obj/
.DS_Store
attractor-logs/
publish/
*.png
*.zip
out.png
megaplan.dot.dot

# Analyzer package download location
analyzers/.analyzerpackages/
analyzers/obj/
analyzers/bin/

# FAKE build tool artifacts
.fake
